.navbar-brand {
    position: relative;
    font-size: 35px !important;
    font-family: 'IBM Plex Sans';
    
}

.nav-link {
    position: relative;
    font-size: 20px !important;
    font-family: 'IBM Plex Sans';
}

@media screen and (max-width: 991px) {
    .ms-5.nav-link {
        margin: 0px !important;
        margin-left: 0px !important;
    }
    .mx-5.nav-link {
        margin: 0px !important;
        margin-left: 0px !important;
    }
    .me-5.nav-link {
        margin: 0px !important;
        margin-left: 0px !important;
    }
}